###############################################################################
# Macros
###############################################################################
[attr]lfs              filter=lfs diff=lfs merge=lfs -text
[attr]unity-json       eol=lf linguist-language=json

[attr]unity-yaml       merge=unityyamlmerge text linguist-language=yaml

###############################################################################
# Source code
###############################################################################
*.cs                   text diff=csharp
*.cginc                text
*.compute              text linguist-language=hlsl
*.hlsl                 text linguist-language=hlsl
*.raytrace             text linguist-language=hlsl
*.shader               text
*.glsl                 text
*.asmdef               unity-json
*.asmref               unity-json

###############################################################################
# Unity UI Toolkit & Web
###############################################################################
*.tss                  text diff=css linguist-language=css
*.uss                  text diff=css linguist-language=css
*.uxml                 text linguist-language=xml
*.json                 text linguist-language=json
*.xml                  text

###############################################################################
# Config
###############################################################################
*.meta                 unity-yaml
*.unity                unity-yaml
*.prefab               unity-yaml
*.controller           unity-yaml
*.anim                 unity-yaml
*.overrideController   unity-yaml
*.physicMaterial       unity-yaml
*.physicsMaterial2D    unity-yaml
*.playable             unity-yaml
*.mask                 unity-yaml
*.guiskin              unity-yaml
*.preset               unity-yaml

###############################################################################

###############################################################################
*.asset                lfs
*.terrainlayer         lfs
*.lighting             lfs

###############################################################################
# Binary files of 3d (LFS)
###############################################################################
# Модели
*.fbx                  lfs
*.FBX                  lfs
*.obj                  lfs
*.blend                lfs
*.blend1               lfs
*.stl                  lfs
*.max                  lfs
*.mb                   lfs
*.ma                   lfs

# Images
*.png                  lfs
*.jpg                  lfs
*.jpeg                 lfs
*.tga                  lfs
*.psd                  lfs
*.exr                  lfs
*.hdr                  lfs
*.tif                  lfs
*.tiff                 lfs
*.bmp                  lfs
*.webp                 lfs

# Audio and video
*.wav                  lfs
*.mp3                  lfs
*.ogg                  lfs
*.aif                  lfs
*.mov                  lfs
*.mp4                  lfs
*.asf                  lfs

# Fonts
*.ttf                  lfs
*.otf                  lfs
*.dll                  lfs
*.so                   lfs
*.bundle               lfs
*.a                    lfs

# Others
*.unitypackage         lfs
*.zip                  lfs
*.7z                   lfs
*.pdf                  lfs